body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: 20px;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  text-align: center;
}


.caja {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: transparent;
}


input {
  padding: 8px;
  margin: 5px 5px 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #777;
  border-radius: 4px;
  background-color: #e0e0e0;
  color: #000;
}

button:hover {
  background-color: #d0d0d0;
}

p {
  font-weight: bold;
  margin-top: 10px;
}
